@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --color-background: #f6f6f6;
  --color-foreground: #141820;
  --color-muted: #f6f6f6;
  --color-muted-foreground: #e4e5e8;
  --color-border: #f6f6f6;
  --color-ring: #296e85;

  --color-brand-primary: #296e85;
  --color-brand-secondary: #add8e6;
  --color-primary-text: #f6f6f6;
  --color-secondary-text: #999da0;
  --color-tertiary-text: #141820;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply antialiased font-medium text-[14px] md:text-[15.8px] text-secondary-text;
    font-family: var(--font-plus-jakarta-sans), sans-serif;
  }

  h1 {
    @apply capitalize text-[clamp(2rem,5vw,3.6rem)] font-light text-primary-text;
  }

  h2 {
    @apply capitalize text-[22px];
  }
}

@layer utilities {
  .root-layout {
    @apply fixed p-8 lg:hidden flex justify-end;
  }

  .container {
    @apply max-w-[1650px] mx-auto px-6 md:px-20;
  }

  /* NAVIGATION */
  .top-menu {
    @apply fixed inset-x-0 top-0 z-50 bg-foreground text-primary-text lg:border-b border-gray-700 py-6;
  }

  .badge {
    @apply flex items-center justify-center h-8 w-8 rounded-full bg-brand-secondary text-tertiary-text text-xl font-bold;
  }

  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
  }

  /* HEADER BOX */
  .header-box {
    @apply flex flex-col justify-end bg-foreground text-white h-[25%] min-h-[450px];
  }

  .data-container {
    @apply rounded-lg bg-white p-6 border border-gray-200 shadow-sm;
  }

  /* BANK CARD */

  .bank-card {
    @apply relative flex h-[190px] w-full max-w-[320px] justify-between rounded-[20px] backdrop-blur-[10px] shadow-2xl;
  }

  .bank-card_content {
    @apply relative z-10 flex size-full max-w-[228px] flex-col justify-between rounded-l-[20px] bg-foreground px-5 pb-4 pt-5;
  }

  .bank-card_icon {
    @apply flex size-full flex-1 flex-col items-end justify-between rounded-r-[20px] bg-foreground bg-cover bg-center bg-no-repeat py-5 pr-5;
  }

  /* RING BORDER */
  .ring {
    @apply flex flex-col md:flex-row justify-between items-start gap-6 rounded-[20px] bg-white text-tertiary-text border border-brand-primary ring-2 ring-brand-secondary hover:shadow-md hover:-translate-y-0.5 rounded-xl bg-white text-tertiary-text p-6 my-6 md:my-10;
  }

  .auth-asset {
    @apply flex items-center bg-[url(/placeholder.jpg)] bg-cover bg-center;
  }

  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }

  input.form-input {
    @apply bg-foreground;
  }

  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .form-label {
    @apply text-[14px] w-full max-w-[280px] font-medium text-foreground;
  }

  .form-message {
    @apply text-[12px] text-red-500;
  }

  .form-btn {
    @apply text-[16px] rounded-[30px] p-[30px]  bg-green-900 font-semibold text-white cursor-pointer;
  }

  .form-link {
    @apply text-[14px] cursor-pointer font-medium text-green-900;
  }

  .footer {
    @apply flex cursor-pointer items-center justify-between gap-4 py-6;
  }

  .footer_email {
    @apply flex flex-1 flex-col justify-center max-xl:hidden;
  }

  .footer_name-mobile {
    @apply flex size-[40px] items-center justify-center rounded-full bg-foreground;
  }

  .footer_image {
    @apply relative size-[20px] max-xl:w-full max-xl:flex max-xl:justify-center max-xl:items-center cursor-pointer;
  }

  .banktab-item {
    @apply gap-[18px] border-b-2 flex px-2 sm:px-4 py-2 transition-all;
  }
}
